<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  Lista de tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <input #nameInput type = "text" placeholder="Nombre"/>
  <input #dateInput type = "date"/>
  <input #accionesInput type = "text" placeholder="Tareas a realizar"/>

  <button
  (click)="addItem(nameInput.value, dateInput.value, accionesInput.value); nameInput.value = ''; dateInput.value= ''; accionesInput.value=''">
  Agregar
  </button>

  <table border="1" style="margin-top: 20px; width: 100%; text-align: left;"> <!--Crea una tabla-->
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Completado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.date }}</td>
        <td>
          <input type="checkbox" [checked]="item.completed" (change)="toggleCompleted(item.id)" />
        </td>
        <td>{{ item.acciones }}</td>
        <td>
          <button (click)="removeItem(item.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
    

  </table>

  
</ion-content>
