<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
    </ion-item>
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="error">
      El nombre es requerido y debe tener al menos 3 caracteres.
    </div>

    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-input formControlName="date" type="date"></ion-input>
    </ion-item>
    <div *ngIf="userForm.get('date')?.invalid && userForm.get('date')?.touched" class="error">
      La fecha es requerida.
    </div>

    <ion-item>
      <ion-label position="stacked">Acciones</ion-label>
      <ion-input formControlName="acciones" type="text" placeholder="Acciones"></ion-input>
    </ion-item>
    <div *ngIf="userForm.get('acciones')?.invalid && userForm.get('acciones')?.touched" class="error">
      Las acciones son requeridas y deben tener al menos 5 caracteres.
    </div>

    <ion-button expand="block" type="submit">
      {{ isEditing ? 'Actualizar Usuario' : 'Agregar Usuario' }}
    </ion-button>
  </form>

  <table border="1" style="margin-top: 20px; width: 100%; text-align: left;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Acciones</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.date }}</td>
        <td>{{ user.acciones }}</td>
        <td>
          <ion-button (click)="editUser(user.id)" size="small">Editar</ion-button>
          <ion-button color="danger" (click)="deleteUser(user.id)" size="small">Eliminar</ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>


